.App {
  text-align: center;
}
.shiftInput {
  width: 30px;
}

.App-header {
  background-color: #2a2b2c;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
